<a class="skipnav" href="#main-content">Skip to main content</a>

<header class="usa-site-header" role="banner">
  <nav class="navbar">
    <div class="logo">
      <h1>
        <a href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="Home">
          Certified Payroll Reporting
        </a>
      </h1>
      <h2>Some descriptive text</h2>
    </div>
    <div class="header-account">
    {% if page.logged == 'no' %}
      <p>Welcome! <a href="/">Please log in</a></p>
    {% else %}
      <p>Logged in as ACME Construction <a href="/">(change)</a></p>
    {% endif %}
    </div>
  </nav>
</header>
