<script type="text/javascript" src="{{ "/js/vendor/jquery-1.11.3.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/vendor/uswds.js" | prepend: site.baseurl }}"></script>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ "/js/vendor/chosen.jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
