// Variables -------------- //

$lead-font-size:      rem(20px);
$title-font-size:     rem(59px);
$h1-font-size:        rem(44px);
$h2-font-size:        rem(34px);
$h3-font-size:        rem(24px);
$h4-font-size:        rem(19px);
$h5-font-size:        rem(16px);

$font-light:          300;

// Custom styles ---------- //

h1, h2, h3, h4, h5 {
  font-family: $font-sans;
}

.usa-display-alt {
  font-size: rem(44px);
  font-weight: $font-light;
}

// Navigation ------------- //

.usa-site-header {
  border-bottom: 1px solid $color-gray-light;
  padding: 3rem 0;

  a {
    border-bottom: none;
    color: $color-base;

    &:hover {
      color: $color-black;
      text-decoration: none;
    }
  }

  .logo {
    padding-left: 3rem;
  }

  h1 {
    font-size: $h5-font-size;
    margin-bottom: 4px;
    margin-top: 0;

    @include media($medium-screen) {
      display: block;
      font-size: $lead-font-size;
    }
  }

  h2 {
    font-size: $h5-font-size;
    font-weight: $font-normal;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.welcome-text {
  margin-bottom: 3em;
}

.button-long {
  margin-bottom: 1.5em;
  margin-top: 2.5rem;

  @include media($medium-screen) {
    padding-left: 2.7em;
    padding-right: 2.7em;
    width: auto;
  }
}

// Fix for table alignment
th {
 text-align: left;
}

table {
  .usa-button {
    margin: 0;
  }
}

.standfirst {
  @include media($medium-screen) {
    margin: 0 auto;
    max-width: 50rem;
    text-align: center;
  }
}

